*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #44b4ff, #44b4ff, #44b4ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #44b4ff, #44b4ff, #44b4ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #fd1763,#fd1763, #fd1763);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;

}
.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #fd1763,#fd1763, #fd1763);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;

}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box form{
    position: absolute;
    inset: 4px;
    background: rgb(32, 32, 32);
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    color: #ffff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px ;
}
.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #0a0a0ae7;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #6d6d6d;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span{
    color: #ffff;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i{
    height: 40px;
}
.box form .links{
    display: flex;
    justify-content: space-between;
}
.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #a59f9f;
    text-decoration: none;
}
.box form .links a:hover,
.box form .links a:nth-child(2){
    color: #fff;
}
.box form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;

}
.box form .inputBox input[type="submit"]:active{
    opacity: 0.8;
}

/*

.box form input[type="submit"],
.box form input[type="submit"]:nth-child(2)
{
    background: linear-gradient(var(--x), #44b4ff, #0e1528,#0e1528, #fd1763);
}
.box form input[tyoe="submit"]:nth-child(2){
    filter: blur(10px);
}
.box form input[type="submit"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    border: 1px solid #0e1528;
    border-radius: 3px;
    background: rgba(14,21,56,0.65);
    overflow: hidden;
}
.box form input[value="Login"]::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.075);
    transform: skew(25deg);

}
